<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Cocktail Packages</title>
</head>
<style>
  body{
    background-image: url(../images/cocktail_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Josefin Sans';
  }
  .content{
    background: white;
    width:50%;
    padding:40px;
    margin:100px auto;
  }
</style>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Cocktailology</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/search_package">Search Drinks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/account_details">Account Details</a></li>
                  <li><a class="dropdown-item" href="#">Order History</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
  <!-- <section class="bg-dark" style="--bs-bg-opacity: .5;"> -->
  <section>
      <!-- TODO: replace form action and method -->
        <div class="card mb-3 mt-5">
          <form action="">
          <h3 class="card-header ">My Orders History</h3>
          <div id="main-container" class="container">
            <table class='table table-striped border-1'>
                <thead class='table-dark'>
                    <tr>
                        <th>Order ID</th>
                        <th>Date </th>
                        <th>Package Name</th>
                        <th>Quantity</th>
                    
                    </tr>
                </thead>
                <tbody id="ordersTable"></tbody>
      </table>
        </div>
    
            
          </div>
        </div>
      </form>
  </section>
  <script>
    // Helper function to display error message
    function showError(message) {
        // Hide the table and button in the event of error
        $('#ordersTable').hide();
 
        // Display an error under the main container
        $('#main-container')
            .append("<label>"+message+"</label>");
    }
 
    // anonymous async function 
    // - using await requires the function that calls it to be async
    $(async() => {           
        // Change serviceURL to your own
        var serviceURL = "http://127.0.0.1:5003/order";
 
        try {
            const response =
             await fetch(
               serviceURL, { method: 'GET' }
            );
            const result = await response.json();
             if (response.status === 200) {
                // success case
                var orders = result.data.orders; //the array is in orders within data of 
                                               // the returned result
                // for loop to setup all table rows with obtained orders data
                var rows = "";
                
                for (const order of orders) {
                  for (const item of order.order_item){
                    eachRow ="<td>" + order.order_id + "</td>" +
                      "<td>" + order.created + "</td>" ;
                       eachRow+= 
                        "<td>" + item.packageName + "</td>" +
                        "<td>" + item.quantity + "</td>";
                    
                   rows += "<tr>" + eachRow + "</tr>";
                  }
                }
                    // add all the rows to the table
                    $('#ordersTable').append(rows);
                } else if (response.status == 404) {
                    // No orders
                    showError(result.message);
                } else {
                    // unexpected outcome, throw the error
                    throw response.status;
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
    ('You have no order history available.<br />' + error);
            } // error
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>



