{% extends "layout.html" %}
{% block content %}

<h2 > Woohoo </h2><br>
<h2 style = "color:#565674"> 
Shubhasheesh can do his magic here
    </h2><br>

    <h1>Login Page with FB</h1>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <a href="{{ url_for('loggedin',_external=True) }}" >
        <span>LOGIN WITH FACEBOOK</span>
    </a>
    </form>

    {%if data %}
        <h6>Welcome {{ data }}</h6>
    {% else %}
        <h5>No Data</h5>
    {% endif %}
    <a href="{{url_for('fb_logout',_external=True)}}">
        <span>Logout FB</span>
    </a>


{% endblock content %}