<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <script src="https://unpkg.com/vue@3"></script>

    <title>My Cart</title>
</head>
<style>
    body{
    background-image:  url('/static/cocktail_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Josefin Sans';
    min-height: 100vh
  }
 
</style>
<body style="font-family: Josefin Sans;">
<div id="app">
    <section class="pt-5 pb-5">
        <div class="container">
          <div class="row w-100">
              <div class="col-lg-12 col-md-12 col-12">
                  <h3 class="display-5 mb-2 text-center text-white">{{session['name']}}'s Shopping Cart</h3>
                  <p class="mb-5 text-center">
                      <i class="text-info text-white font-weight-bold">3</i> items in your cart</p>
                  <table id="shoppingCart" class="table table-light table-striped table-condensed table-responsive">
                      <thead>
                          <tr>
                              <th style="width:60%">Product</th>
                              <th style="width:12%">Price</th>
                              <th style="width:10%">Quantity</th>
                              <th style="width:16%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td data-th="Product">
                                  <div class="row">
                                      <div class="col-md-3 text-left">
                                          <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                      </div>
                                      <div class="col-md-9 text-left mt-sm-2">
                                          <h4>Product Name</h4>
                                          <p class="font-weight-light">Brand &amp; Name</p>
                                      </div>
                                  </div>
                              </td>
                              <td data-th="Price">$49.00</td>
                              <td data-th="Quantity">
                                  <input type="number" class="form-control form-control-lg text-center" value="1">
                              </td>
                              <td class="actions" data-th="">
                                  <div class="text-right">
                                      <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                          <i class="fas fa-sync"></i>
                                      </button>
                                      <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                          <i class="fas fa-trash"></i>
                                      </button>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td data-th="Product">
                                  <div class="row">
                                      <div class="col-md-3 text-left">
                                          <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                      </div>
                                      <div class="col-md-9 text-left mt-sm-2">
                                          <h4>Product Name</h4>
                                          <p class="font-weight-light">Brand &amp; Name</p>
                                      </div>
                                  </div>
                              </td>
                              <td data-th="Price">$49.00</td>
                              <td data-th="Quantity">
                                  <input type="number" class="form-control form-control-lg text-center" value="1">
                              </td>
                              <td class="actions" data-th="">
                                  <div class="text-right">
                                      <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                          <i class="fas fa-sync"></i>
                                      </button>
                                      <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                          <i class="fas fa-trash"></i>
                                      </button>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td data-th="Product">
                                  <div class="row">
                                      <div class="col-md-3 text-left">
                                          <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                      </div>
                                      <div class="col-md-9 text-left mt-sm-2">
                                          <h4>Product Name</h4>
                                          <p class="font-weight-light">Brand &amp; Name</p>
                                      </div>
                                  </div>
                              </td>
                              <td data-th="Price">$49.00</td>
                              <td data-th="Quantity">
                                  <input type="number" class="form-control form-control-lg text-center" value="1">
                              </td>
                              <td class="actions" data-th="">
                                  <div class="text-right">
                                      <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                          <i class="fas fa-sync"></i>
                                      </button>
                                      <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                          <i class="fas fa-trash"></i>
                                      </button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  
              </div>
              <div class="row mt-10 mr-5 d-flex align-item-center">
                
                  <div class="mx-auto" style="width: 200px;">
                    <a href="/search_package" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Cancel</a>
                </div>
                <div class="mx-auto" style="width: 200px;">
                  <a href="/payment" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Confirm Order</a>
                </div>
              </div>
          </div>
      </div>
      </section>
    <!-- <div class="container-fluid">
        <div class="row justify-content-md-center">
         <div class="col-center">
                One of three columns
            </div> -->
            <!-- <h1>{{session['name']}}'s Cart</h1> -->
            <!-- <p>Please stay with us, you're almost done!</p> -->
    
            <!-- {{session['account_id']}} -->
        <!-- </div>
        <div> -->
            <!-- <p id="output"></p> -->
        <!-- </div> --> 
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
            return {
                email: "",
                address1: "",
                address2: "",
                address3: "",
                name: "{{session['name']}}",
                // id : "{{session['account_id']}}",
                id:50,
                cart: ""
            }
        },

        created: function (){
            console.log(this.id)
            axios.get(`http://localhost:5013/account/${this.id}`)
            .then(response => {
                console.log(response.data)
                console.log(response.data.data.cart)
                console.log(typeof response.data.data.cart)
                this.cart = response.data.data.cart
                document.getElementById('output').innerHTML = JSON.stringify(this.cart)
            })
            .catch(error => {
                console.log(error.response.data)
                //will move to .then, it is here for testing only right now
                //window.location.href = 'https://localhost:5000/search_package'
            })
        }

    }).mount('#app')

    </script>
</body>
</html>